body{
	background-image: url("img/img-2.jpg") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	text-align: center;
}
.fecha{
	size: 40px;
	vertical-align: 10px;
}

.error{
	border: solid 2px red;
}

.divForm{
	margin:1px;
	padding:1px;
	display: inline-block;
}

.contenedor{
      background-color: rgba(103, 122, 106, 0.32);
	  max-width: 930px;
	  margin: auto;
	  padding: 10px;
}
.piefooter{
    min-width: 100%;
	min-height: 120px;
	background-color:rgba(0, 0, 0, 0.32);
	border: none;
	margin: 4px;
}
.encabezado{
	width: 100%;
	height: 400px;
	border: none;
}

div nav {
	text-align: right;
	background-image: url("img/Lifeline.jpg");
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 108px;
	font-size: 20px;
}
div nav a{
	color: white;
}

section{
	background-color:rgba(0, 0, 0, 0.36) ;
	width: 840px;
	height: 2400px;
	margin: auto;
	padding: 2px;
	border: solid 2px  rgba(56, 177, 247, 0.47);
}
section h1{
	text-align: center;
	font:'mixstitchmedium', italic, bolder 2px solid black;
	font-size: 30px;
}
section article h2{
	  background-color: transparent;
	  text-align: center;
	  color: #E8F3EA;
	  padding: 0;
	  border: none;
	  margin: 2px;

}
section article{
	background-color: transparent;
	width: 490px;
	height: 515px;
	margin-left: 3%;
	display: inline-block;
	vertical-align: 3px;
	margin: 2px;
	border:none;
}
section article img {
	width: 230px;
	height: 200px;
	margin:auto;
	border: solid 2px whitesmoke;	
}
section article p{
	color: black;
	font-size: 15px;
	font-family: Verdana;
}
.juego{
	width: 800px;
	height: 1400px;
}
.iframJuegos{
	 width: 540px;
	 height: 445;
	 scroll-behavior: none;
}
.iframeChat{
	width: 255px;
	height: 102px;
	border: none;
	display: inline-block;
}
